<h1>New Book</h1>

<%= link_to("List of books", {:action => "index"}, :class => "back-link") %>

<% if @book.errors.present? %>
  <p><%= @book.errors.full_messages.to_sentence %></p>
<% end %>

<%= form_for(:book, :url => {:action => 'create'}) do |f|%>

        Title: <%= f.text_field(:title)%></br>
        Author: <%= f.text_field(:author)%></br>
        Description: <%= f.text_field(:description)%></br>
        URL: <%= f.text_field(:url)%></br>
        <%= submit_tag("Create Book")%>

<% end %>
